@using GridMvc.Html;
@using GridMvc.Sorting;
@using Intitek.Welcome.Service.Back;
@using Intitek.Welcome.Infrastructure.Helpers;
@model  Intitek.Welcome.UI.Web.Admin.Models.GridBO<Statistiques>

@helper ProgressBar(int value, int total)
{
    <div class="progress">
        <div class="progress-bar @Html.ProgressBarClass(value, total, false)" role="progressbar" aria-valuenow="@value" aria-valuemin="0" aria-valuemax="100" style="width: @Html.ProgressBarWidth(value, total);">
            <span class="value">@value / @total</span>
        </div>
    </div>
}

@helper CustomRenderingOfActions(Statistiques vm)
{
    <a href="@Url.Action("AffectAgency", "Entite", new { EntityName=vm.EntityName, AgencyName= vm.Name})" role="button" data-toggle="tooltip" title="@Resource.agency_Assign_document" onclick="openLoading();">
        <i class="fas fa-edit" style="color:blue"></i>
    </a>
    <a href="@Url.Action("DocumentStateAgency", "Entite", new { EntityName=vm.EntityName, AgencyName= vm.Name})" role="button" data-target="readFocusModal" data-toggle="tooltip" title="@Resource.DocumentState">
        <i class="fas fa-eye" style="color:green"></i>
    </a>
    <a href="@Url.Action("Relance", "Entite", new { EntityName=vm.EntityName, AgencyName= vm.Name})" role="button" data-target="relanceModal" data-toggle="tooltip" title="@Resource.prf_RelaunchByMail">
        <i class="fas fa-envelope" style="color:darkorange"></i>
    </a>
}

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(o => o.Name).Titled(Resource.agency_Name).SetWidth(250);
    columns.Add(o => o.NotRead).Titled(Resource.prf_Reading).RenderValueAs(o => ProgressBar(o.NotRead, o.Total)).IsHtml(true).Css("nopadding");
    columns.Add(o => o.NotApproved).Titled(Resource.prf_Approbation).RenderValueAs(o => ProgressBar(o.NotApproved, o.ToApproved)).IsHtml(true).Css("nopadding");
    columns.Add(o => o.NotTested).Titled(Resource.prf_Test).RenderValueAs(o => ProgressBar(o.NotTested, o.ToTested)).IsHtml(true).Css("nopadding");
    columns.Add().Titled(Resource.actions).RenderValueAs(o => CustomRenderingOfActions(o)).IsHtml(true).Css("actions center")
           .Filterable(false).Sortable(false);

}).EmptyText(@Resource.noDocumentResult).WithGridItemsCount(Resource.labelNbEnreg).Filterable(false).Sortable(false).SetRowCssClasses(e => true ? "admclickable" : string.Empty)


