@using Intitek.Welcome.UI.ViewModels.Admin
@using Intitek.Welcome.Service.Back
@model Intitek.Welcome.UI.ViewModels.Admin.CategoryViewModel
@{
    ViewBag.Title = Model.ID > 0 ? string.Format("Administration | {0}", HttpUtility.HtmlDecode(Model.Name)) : string.Format("Administration | {0}", Resource.newCategory);
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-breadcrumb">
    <div class="col">
        <nav aria-label="breadcrumb" class="pt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-link">@Resource.menuHome</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Category")" class="breadcrumb-link">@Resource.categoryList</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@(Model.ID > 0 ? HttpUtility.HtmlDecode(Model.Name) : Resource.newCategory)</li>
            </ol>
        </nav>
    </div>
    <div class="row m-r-0 m-l-0 p-r-15 p-l-0 align-items-center">
        <div class="pageheader-title">
            <span>@(Model.ID > 0 ? HttpUtility.HtmlDecode(Model.Name) : Resource.newCategory)</span>
        </div>
        <div class="pt-2">
            <a data-i18n-title="menu.go-back" href="#" onclick="goBack()"
               class="btn action-icon btn-ariane-back btn-xs"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Ariane  -->
<!-- ============================================================== -->
<div class="card-body p-l-0 p-r-0 p-t-0">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-l-0 p-r-0">
        <div class="accordion-regular">
            <div class="card card-form mb-2">
                <div>
                    <h2 class="center">@(Model.ID > 0 ? string.Format("Edition {0}", HttpUtility.HtmlDecode(Model.Name)) : Resource.newCategory)</h2>
                </div>
                <div class="card card-form p-0">
                    <form id="categForm" action="@Url.Action("Edit", "Category")" method="post">
                        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                        <div class="card-body show">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label label-align-right">@Resource.name</label>
                                        <div id="name-autocomplete" class="col-9">
                                            <input type="text" required="" data-parsley-minlength="6"
                                                   name="Name" id="Name"
                                                   placeholder="@(Model.ID == 0 ? Resource.name : HttpUtility.HtmlDecode(Model.Name))"
                                                   value="@(Model.IsDefaultLangName ? string.Empty : HttpUtility.HtmlDecode(Model.Name))"
                                                   autofocus class="form-control form-control-required col-9">
                                            @*<input type="hidden" id="OrdreCategory" name="OrdreCategory" value="@Model.OrdreCategory" />*@

                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-6">

                                    </div>*@
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label label-align-right">@Resource.Order</label>
                                        <div class="col-3">
                                            <input type="number" data-parsley-minlength="1" class="form-control col-9" id="OrdreCategory" name="OrdreCategory" placeholder="1" value="@Model.OrdreCategory" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col center p-t-25">
                                    <button type="button" class="btn btn-wme btn-dark space-betwen-btn"
                                            onclick="_redirectTo('@Url.Action("Index", "Category")')">
                                        @Resource.buttonCancel
                                    </button>

                                    <button type="submit"
                                            class="btn btn-wme btn-green next-btn space-betwen-btn">
                                        @Resource.buttonValidate
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        // highlights the sidebar
        $(document).ready(function () {
            $('#categForm').bootstrapValidator({
                excluded: [':disabled'],
                fields: {
                    Name: {
                        validators: {
                            notEmpty: {
                                message: "<span>" + ErrorCategoryNameRequired + "</span>"
                            },
                            remote: {
                                type: 'POST',
                                delay: 300,
                                message: "@Resource.category_msg_UniqueName",
                                url: '@Url.Action("NameCategoryExist", "Category")',
                                data: {
                                    ID: $("#ID").val(),
                                    Path: $("#Path").val()
                                }
                            },
                            callback: {
                                callback: function (value, validator, $field) {
                                    // Determine the numbers which are generated in captchaOperation
                                    $field.removeClass('form-control-required');
                                    return true;
                                }
                            }
                        }
                    },
                }
            }).on('success.form.bv', function (e) {
                openLoading();
            });

            if ($("input[name='Name']").val() != "") {
                $("input[name='Name']").removeClass('form-control-required');
            }
        })
    </script>
}