@model  Intitek.Welcome.UI.Web.Admin.Models.GridBO<ProfilViewModel>
@{
    ViewBag.Title = string.Format("Administration | {0}", @Resource.profilLists);
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles
{
    @Styles.Render("~/Content/gridmvc")
    @Styles.Render("~/Content/documents")
    @Styles.Render("~/Content/modalcss")
    <style type="text/css">
        td.actions {
            padding: 0px;
        }

        td.actions a {
            margin-right: 10px;
        }

        #relanceModal .modal-dialog {
            max-width: 35% !important;
        }

        .modal-body input[type=radio] {
            display: inline-block;
        }

        .modal-body label {
            margin-bottom: 10px;
        }

        .col-profil {
            min-width: 300px;
            max-width: 300px;
        }
    </style>
}
<div class="row page-breadcrumb">
    <div class="col">
        <nav aria-label="breadcrumb" class="pt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-link" onclick="openLoading();">@Resource.menuHome</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Resource.profilLists</li>
                @*<li class="breadcrumb-item active" aria-current="page">@Resource.newDocument</li>*@
            </ol>
        </nav>
    </div>

</div>
<div class="card-body p-l-0 p-r-0 p-t-0">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-l-0 p-r-0">
        <div class="accordion-regular">
            <div class="card card-form mb-2">
                <div>
                    <h2 class="center">@Resource.profilLists</h2>
                </div>
                <div class="card card-form p-0">
                    <div class="card-body show">
                        <div class="row ml-0 mr-0 mb-3">
                            <a href="@Url.Action("Edit","Profil",  new { area = "Admin" })" class="btn btn-wme btn-green" onclick="openLoading();">@Resource.newProfile</a>
                        </div>
                        <div class="row ml-0 mr-0">
                            <div class="col-6 pl-0">
                                <!--<form class="display-inline" action="javascript:void(0);"
                                      id="searchForm" name="searchForm" onsubmit="javascript: return rechercher(event, this);">
                                    <div class="inline-input inline-input-sm card-header-custom height-auto search-no-inner-border">
                                        <input type="search" id="search" name="search"
                                               data-i18n-placeholder="search"
                                               class="custom-form-control no-border-radius-right">
                                        <input type="hidden" id="filtre" name="filtre">
                                        <button type="button"
                                                class="btn btn-white margin-right opacity-1 btn-search" onclick="submitForm(this)">
                                            <label for="filter-2"><i class="fa fa-search"></i></label>
                                        </button>
                                    </div>
                                </form>-->
                            </div>
                            <div class="col-6">
                                <div class="text-right">
                                    @Html.Partial("_PageSizes", Model.Pager, new ViewDataDictionary { { "grid", "prfGrid" } })
                                </div>
                            </div>
                        </div>
                        <div id="parent_prfGrid">
                            @Html.Partial("_ProfilGrid", @Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/gridmvc-custom-ajax")
    <script>
        setTimeout(function () {
            $("#nav-home").addClass('current-menu-item');
        }, 500);
        $('input[type=checkbox][name=tab1-check-all]').change(function () {
            $('input[type=checkbox][name=ck1]').prop('checked', $('input[type=checkbox][name=tab1-check-all]').prop('checked'));
        });
        $('input[type=checkbox][name=tab2-check-all]').change(function () {
            $('input[type=checkbox][name=ck2]').prop('checked', $('input[type=checkbox][name=tab2-check-all]').prop('checked'));
        });
    </script>
    <script>
        function _showDocument(id) {
            return false;
        }
        var gridName = "prfGrid";
        $(function () {
            $('#sidebar-entity-profil').addClass('active');
            $('#sidebar-profil').addClass('active');
            //Infobulles
            $('[data-toggle="tooltip"]').tooltip();
            if (window.pageGrids[gridName] != null) {
                window.pageGrids[gridName].ajaxify({
                    getData: '@Url.Action("AjaxProfilGrid", "Profil")',
                });
            }

            //Edit profil
            $(document).on('click', '[data-target="UpdateModal"]', function (e) {
                e.preventDefault();
                var link = $(this);
                var url = link.attr('href');
                return false;
            });

            $(document).on('click', '[data-target="readFocusModal"]', function (e) {
                e.preventDefault();
                var link = $(this);
                var url = link.attr('href');
                openLoading();
                $.get(url, function (reponse) {
                    $("body").append(reponse);
                    $('#readFocusDial').on('show.bs.modal', function () {
                        var contentHeight = $(window).height();
                        var headerHeight = $(this).find('.modal-header').height() || 0;
                        var maxHeight = contentHeight - Math.abs(headerHeight);
                        $(this).find('.modal-body').css({
                            'max-height': maxHeight,
                            'overflow-y': 'auto',
                        });
                        $(this).before($('.modal-backdrop'));
                        $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
                    });
                    $("#readFocusDial").on('hidden.bs.modal', function () {
                        $(this).remove();
                    });
                    $("#readFocusDial").modal({
                        "show": true,
                        backdrop: 'static',
                        keyboard: false
                    });
                }).done(function () {
                    console.log("second success");
                }).fail(function () {
                    console.log("error");
                }).always(function () {
                    closeLoading();
                });
                return false;
            });
            $(document).on('click', '[data-target="deleteModal"]', function (e) {
                e.preventDefault();
                var link = $(this);
                var url = link.attr('href');
                openLoading();
                $.get(url, function (reponse) {
                    $("body").append(reponse);
                    $('#deleteDial').on('show.bs.modal', function () {
                        var contentHeight = $(window).height();
                        var footerHeight = $(this).find('.modal-footer').outerHeight() || 0;
                        var maxHeight = contentHeight - footerHeight;
                        $(this).find('.modal-body').css({
                            'max-height': maxHeight,
                            'overflow-y': 'auto',
                        });
                        $(this).before($('.modal-backdrop'));
                        $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
                    });
                    $("#deleteDial").on('hidden.bs.modal', function () {
                        $(this).remove();
                    });
                    $("#deleteDial").modal({
                        "show": true,
                        backdrop: 'static',
                        keyboard: false
                    });
                }).done(function () {
                    console.log("second success");
                }).fail(function () {
                    console.log("error");
                }).always(function () {
                    closeLoading();
                });
                return false;
            });
            $(document).on('click', '[data-target="relanceModal"]', function (e) {
                e.preventDefault();
                var link = $(this);
                var url = link.attr('href');
                openLoading();
                $.get(url, function (reponse) {
                    $("body").append(reponse);
                    $('#relanceModal').on('show.bs.modal', function () {
                        var contentHeight = $(window).height();
                        var headerHeight = $(this).find('.modal-header').height() || 0;
                        var maxHeight = contentHeight - Math.abs(headerHeight);
                        $(this).find('.modal-body').css({
                            'max-height': maxHeight,
                            'overflow-y': 'auto',
                        });
                        $(this).before($('.modal-backdrop'));
                        $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
                    });
                    $("#relanceModal").on('hidden.bs.modal', function () {
                        $(this).remove();
                    });
                    $("#relanceModal").modal({
                        "show": true,
                        backdrop: 'static',
                        keyboard: false
                    });
                }).done(function () {
                    console.log("second success");
                }).fail(function () {
                    console.log("error");
                }).always(function () {
                    closeLoading(true);
                });
                return false;
            });
            $(document).on('submit', '#frmRelance', function (e) {
                var frm = $(this);
                e.preventDefault();
                openLoading();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (response) {
                        if (response.success == 1) {
                            $("#frmRelance").hide();
                            var result = $("#result", $("#relanceModal"));
                            var label = result.find("label");
                            label.addClass("info");
                            label.html(response.Message);
                            result.prepend(label);
                            result.show();
                            closeLoading(true);
                        }
                        else {
                            $("#frmRelance").hide();
                            var result = $("#result", $("#relanceModal"));
                            var label = result.find("label");
                            label.addClass("error");
                            label.html(response.Message);
                            result.prepend(label);
                            result.show();
                            closeLoading(true);
                        }
                        return false;
                    },
                    error: function (xhr, status, error) {
                        console.log('An error occurred.');
                        var result = $("#result", $("#relanceModal"));
                        var label = result.find("label");
                        label.addClass("error");
                        label.html(xhr.responseText);
                        result.prepend(label);
                        result.show();
                        closeLoading(true);
                        return false;
                    }
                });
                return false;
            });

        });

    </script>
}
